.webform-client-form-270 {
  background: url('../images/footer.jpg') no-repeat center center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;

  .left,
  .right {
    @media (min-width: @screen-md-min) {
      .col(5);
    }
  }

  .right {
    margin-top: 20px;

    @media (min-width: @screen-md-min) {
      margin-top: 0;
    }
  }

  .webform-component--subtitle {
    .col(12);
    .rft(24, 48);
    line-height: 140%;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 60px;
    .border-left();
  }

  .form-actions {
    .col(12);
    margin-top: 40px;

    button {
      .more-button();
    }
  }

  > div {
    .c();
  }
}