.page-node-270 {
  .field-name-field-paragraphs > .field-items {
    .c();

    > .field-item {
      width: 50%;
      float: left;

      .field {
        margin-right: 0;
      }

      .entity-paragraphs-item {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
        width: 100%;
        max-width: none;
      }
    }
  }
}