.footer {
  background: #231f20;
  color: @on-dark;
  .font-size(21);

  @media screen and (max-width:992px) {
    padding-bottom: 65px;
  }

  h4 {
    .font-size(30);
  }

  .block {
    width: initial;
    //position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    //float: left;

    @media (min-width:320px) {
      display: inline-block;
    }
    @media (min-width: @screen-md-min) {
      width: 25%;
    }

  }

  .clogos_slab {
    width: 60px;
    background: url(../images/slab-logo.png) no-repeat;
    height: 49px;
    margin-right: 20px;
    display: block;
    text-indent: -9999px;

    &:hover {
      background: url(../images/slab-logo-ani.gif) no-repeat;
    }
  }

  .ctext {
    .font-size(10);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

//fixes


@media (min-width:320px) and (max-width:991px) {
  .region-footer {
    text-align: center;
  }
  .clogos_slab {
    margin: auto !important;
  }
}

#block-block-5 img{
  @media screen and (max-width:992px) {
    max-width: 80%;
  }
}

@media (min-width:992px) {
  .footer{
    #block-block-5 {
      margin-right: 3em;
    }
     .block {
      margin-right: 2em;
    }
  }
}

@media (min-width:1200px) {
  .footer{
    #block-block-5 {
      margin-right: 5em;
    }
     .block {
      margin-right: 3em;
    }
  }
}

.region-footer {
  #block-block-5 {

    @media (min-width:992px){
      margin-top:1em;
      position: absolute;
      width:75vw;
      max-width: 1300px;
    }


    .footer-social-descr {
      @media (min-width:992px){
        position: absolute;
        right:0;
        top:0;
      }

      font-size: 1.5rem;

      a {
        color: @gg-white;

        &:hover {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  #block-block-6,
  #block-block-7 {
    @media screen and (max-width:992px) {
      text-align: left;
    }
  }

  #block-block-6,
  #block-block-7 {
    @media (min-width:992px){
      margin: auto;
      float: none;
      display: block;
    }
  }
}


body>iframe {
  position: absolute;
}
