#navbar {
  background: none;
  border: none;
  width: 100%;
  margin-top: 0;
  padding-top: 10px;
  //position: fixed;
  position: relative;

  .navbar-header {
    position: relative;
    z-index:10;
  }

  @media screen and (max-width:@min-lg) {
    position:fixed;
    top: 0;
  }

  z-index: 100;
  background: white;
  max-width: none;
  border-bottom: 5px solid @gg-blue;
  overflow: visible;
  margin-bottom: 0 !important;

  @media screen and (max-width: @max-xs) {
    border-bottom: 5px solid @gg-blue;

    .navbar-nav {
      margin:0;
    }

    //.logo > img {
    //  max-width: 50%;
    //}

    padding-top: 10px;
    //margin-bottom: 5px;
    .leaf>a {

    }
  }

  @media screen and (min-width: @screen-sm) {
    .logo > img {
      max-width: 70%;
      margin-left: 40px;
    }
  }

  @media screen and (min-width: @screen-lg) {
    .logo > img {
      max-width: 85%;
      margin-left: 50px;
    }
  }

  .menu {
    float: right;

    li {
      a {
        letter-spacing: 0.4px;
        color: @gg-text;
        .font-size(18);
        text-transform: uppercase;
        text-decoration: none;

        &:hover,
        &:focus {
          background: none;
          color: @gg-link;
        }
      }

      &.active {
        a {
          background: none;
          color: @gg-link;
        }
      }
    }
  }

  .region-navigation {
    float: right;
  }

  #block-locale-language {
    text-align: center;
    margin-top: 2px;
    border:1px solid #777;
    border-radius: 25px;
    overflow: hidden;
    white-space: nowrap;
    padding: 4px 18px;
    height: auto;
    width:145px;
    transition:border-color .3s linear;

    @media screen and (max-width:@max-xs) {
      a,
      h2 {
        font-size:5vh !important;
      }
    }

    @media screen and (max-width:567px) {
      padding: 2px 18px !important;
      width: 260px !important;
    }

    @media (min-width:568px) and (max-width:992px) {
      width: 180px !important;
      padding: 2px 18px !important;
    }


    @media screen and (max-width: 1200px) {
      float: left;
      display: inline-block;
      padding: 4px 45px;
      width: 220px;
      margin-top: 25px;
      color: @gg-white;
      border-color: @gg-white;
    }

    &:hover {
      border-color: @gg-blue;

      .block-title {
        color: @gg-blue;
      }

      li {
        display: block !important;
        @media screen and (max-width: @min-lg) {
          display: block !important;

        }
      }
    }


    .block-title {
      font-size: 0.8rem;
      display: inline-block;
      float: left;
      margin: 6px 5px 0 0;
      transition: color .3s linear;
      font-family: 'cormorantregular';

      @media screen and (max-width:500px) {
        margin-top: 1px;
      }


    }

    .language-switcher-locale-url {
      display: inline-block;
      padding: 0;
      margin-bottom:0;

      //&:hover {
      //  li {
      //    display: block !important;
      //  }
      //}

      li {
        list-style: none;
        display: none;

        &.active {
          display: block;
          @media screen and (max-width:@min-lg) {
            display: inline-block;
          }
        }

        a {
          .font-size(18);
          text-transform: uppercase;
          text-decoration: none;
          padding-top: 15px;
          padding-bottom: 15px;
          line-height:95%;
          border:none;
          color: @gg-text;

          @media screen and (max-width:@min-lg) {
            color: @gg-white;
            margin: 0;
          }

          &:hover {
            color: @gg-blue;
          }
        }
      }
    }
  }

}

//fixes

#navbar {

  .navbar-collapse {
    padding: 0;
    overflow: visible;

    @media screen and (max-width:1199px) {
      position: relative;
      z-index: 9999;
    }

    nav {
      margin-top: 1em;
      @media screen and (max-width:@min-lg) {
        overflow: hidden;
        overflow-y: scroll;
        position: fixed;
        transform:translateZ(1px);
        padding-bottom: 60px;
        height: 100%;
        width: 100%;

        .region-navigation {
          min-height: 190px;

          .inner .center-block {
            padding: 4px 18px!important;
          }
        }
      }

      @media screen and (max-width: @screen-md-max) {
        margin-top: 0;
        display: flex;
        flex-flow: column;

        .region-navigation {
          order: 2;
          flex: 1 100%;
          text-align: center;
          background: #231f20;
          margin-top: 0;


          .language-switcher-locale-url {
            padding: 0;

            .language-link {
              margin-top: 5px;
              border-radius: 15px;
              border: 1px solid #ffffff;
              display: inline-block;
              padding: 5px 10px !important;
              color: #fff;
              line-height: 1.5;
            }
          }
        }

        .menu {
          order: 1;
          flex: 1 100%;
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;
          margin-right: 0;
          margin-left: 0;

          li.leaf {
            background: @gg-blue;
            border-bottom: 1px solid #ffffff;

            &:last-child {
              border-bottom: 0 none;
            }

            a {
              color: #ffffff;
              padding: 12.5vh 0;
              font-size: 5vh;
            }
          }
        }
      }
    }
  }
  .navbar-toggle {
    margin-top: 1em;
    border: 0 none;

    .icon-bar {
      @media screen and (max-width:768px){
        width: 38px;
        height: 7px;
        margin-bottom: 7px;
        border-radius: 2px;
      }
    }

    &:hover, &:focus {
      background: transparent;

      .icon-bar {
        background-color: @gg-blue;

        @media screen and (max-width:768px){
          width: 38px;
          height: 7px;
          margin-bottom: 7px;
          border-radius: 2px;
        }
      }
    }

    .icon-bar {
      background-color: #000;
    }

    //@media screen and (max-width: @max-xs) {
    //  margin-top: 8px;
    //}
  }
}

.info-on-menu {
  display: none;
}

.navbar-collapse.collapse.in {

  #block-ggproject-ggproject-cinfo-block {
    display: inline-block;
    width:65%;
    float: right;
    position: relative;
    .info-on-menu {
      display: inline-block;

      .left-block {
        display: none;
      }

      .center-block,
      .right-block {
        position: absolute;
        top:25px;
        padding: 4px 18px;
        border:1px solid #777;
        border-radius: 25px;
        transition:border-color .3s linear;
        &,
        a,
        span {
          color: @gg-white !important;
          border-color: @gg-white !important;
        }


        &:hover {
          border-color: @gg-blue;
        }

        span,
        a {
          text-decoration: none;
          font-style: 0.75rem;
          color: #777;
        }

        @media screen and (max-width:@max-xs) {
          a {
            font-size: 5vh !important;
          }
        }
      }

      .center-block {
        left:1%;
        padding-bottom: 4px;
      }

      .right-block {
        right:5vw;
      }
    }
  }
}
