.entity-paragraphs-item > .content {
  position: relative;
  display: table;
  width: 100%;
}

.entity-paragraphs-item {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: gray 1px solid;

  .field {
   // margin-right: 40%;
  }

  .carousel-container {
    //width: 40%;
    //margin-right: 0;
    //position: absolute;
    //right: 0;
    //top: 0
  }
}

//ШАПКА С КАРТИНКОЙ
.paragraphs-item-header-slider {
   .fc();
   color: @mkdb-white;
   margin-bottom: 100px;
   padding-bottom: 0;
   border: none;

   .field {
     .c();
     margin-right: auto;

     &.field-name-field-step-photo {
       .fc();
       width: 100%;
       position: static;
     }
   }

   .text-on-photo {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 0;
     width: 100%;

     > div {
       .c();
       padding-left: 100px;
     }
   }
 }

.paragraphs-item-media-teaser-with-link {
  .c();

  .carousel-container {
    max-width: 500px;
    float: left;
    margin-right: 100px;
  }
}