

@import 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css';

#bpMArker {
    display: inline-block;
    visibility: visible;
    height: 1px;
    width: 1px;

    @media (min-width: 1200px) {
        display: none;
        visibility: hidden;
    }
}

.not-front {
    @media (min-width: 992px) {
        #bpMArker {
            display: none;
            visibility: hidden;
        }
    }
}

html {
    height: 100%;
    font-size: @basefontsize * 1px;
}

body {
    .font-size(24);
    .line-height(32);
  @media screen and (max-width: 768px) {
    * {
      max-width:768px;
    }
    width: 768px;
    .container {
      width: 768px;
    }
  }

  @media screen and (max-width: @min-lg) {
    padding-top:55px;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    .font-size(48);
}

a {
    transition: 0.3s all linear;
}

p {
    margin-bottom: 40px;
}

img {
    max-width: 100%;
    height: auto;
}

.translation_en,
.translation_uk {
    display: none !important;
}

h1.page-header {
    border: none;
}

.pager {
    &.pager-load-more {
        a {
            .load-more-button();
        }
    }
}

.region-content ul.flippy {
    margin-top: 60px;
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

//.views-field-created,
//.submitted-by,
//.footer,
//#node-265 p,
//#node-266 p {
//    font-family: @digit-font;
//}

.views-field-created {
    .font-size(14) !important;
}

.submitted-by {
    .font-size(18) !important;
}

.node {
    .translation_ru,
    .translation_eng {
        display: none !important;
    }
}

h1 {
    display: none;
}


