.f(@weight) {
  font-weight: normal;
  font-style: normal;

  & when (@weight = "r") {
  //  font-family: 'cormorantregular';
  }

  & when (@weight = "m") {
   // font-family: 'cormorantmedium';
  }

  & when (@weight = "sb") {
   // font-family: 'cormorantsemibold';
  }

  & when (@weight = "b") {
    //font-family: 'cormorantbold';
  }
}

.line() {
  content: '';
  display: block;
  height: @lh;
  width: 30px;
  margin-bottom: @mt;
}

.font-size(@mysizeValue) {
  @sizeValue: @mysizeValue / @basefontsize;
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}

.line-height(@mysizeValue) {
  @sizeValue: @mysizeValue / @basefontsize;
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  line-height: ~"@{pxValue}px"; 
  line-height: ~"@{remValue}rem";
}

.c() {
  .container();

  @media (min-width: @min-xl) {
    width: @min-xl - 30;
  }
  margin-left: auto;
  margin-right: auto;
}

.fc {
  max-width: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.load-more-button() {
  border: #231f20 1px solid;
  border-radius: 0;
  color: #231f20;
  .f('m');
  .font-size(28);
  padding: 10px 35px;
  text-decoration: none;

  &:hover {
   // background-color: @gg-blue;
    //border-color: @gg-blue;
    //color: @on-dark;
  }
}

/*
X * S / 1000 = P
X is equal to the letter-tracking value in Photoshop
S is the font-size in pixels
P is the resulted value in "px" to use in CSS*/
.letter-spacing(@x, @s) {
  letter-spacing: @x * @s / 1000 * 1px;
}